[Unit]
Description=Minecraft Service

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/java -jar /minecraft/server.jar nogui
WorkingDirectory=/minecraft

[Install]
WantedBy=multi-user.target
